text {
    fill: white;
}

circle {
}

circle:hover {
    stroke: #00a9cd;
    stroke-width: 5px;
    stroke-linejoin: round;
}

.tooltip {
    display: inline-block;
    position: absolute;
    min-width: 300px;
    max-width: 390px;
    height: 50px;
    padding: 5px;

    color: #ebebeb;
    font-size: 13px;
    text-align: left;

    background-color: #202020;
    border: 1px solid #00a9cd;
    border-radius: 4px;
}

.text {
    display: inline-block;
    min-width: 240px;
    padding-top: 6px;
    color: black;
}

#avatar {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 5px;
}