html {
    height: 100%;
    background-color: #00313F;
    font-family: sans-serif;
    color: whitesmoke;
    //overflow: hidden;
}
body {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
}

a {
    color: #00c7ec;
}

a:hover {
    color: white;
}

input {
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    width: 122px;
    padding-left: 5px;
    outline: none;
    background-color: whitesmoke;

}

#header {
    flex: 0 1 55px;
    margin: 0px;
    background-color: #115163;
    font-size: 39px;
}

#logoAndTitle {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

#logo {
    width: 68px;
    height: 45px;
    margin: 5px 10px;
    float: left;
}

#title {
    vertical-align: middle;
}

#visualizingField {
    flex: 1;
    padding: 5px 5px 0;
    //background-color: green;
}

#statsBox {
    flex: 0 1 70px;
    display: flex;
    flex-flow: row wrap;
    //background-color: red;
}

#stats {
    margin: 5px 0;
    border-collapse: collapse;
    border-spacing: 0px;
}

#stats td {
    padding: 5px 3px 5px 3px;
    //border: 1px solid white;
}

#footer {
    /*
    position: absolute;
    bottom: 0;
    */
    flex: 0 1 25px;
    //background-color: red;
    color: dimgrey;
    font-size: 10px;
    text-align: center;
}

#inpRepo {
    margin-bottom: 5px;
    margin-top: 5px;

}

#form {
    display: inline-block;
    margin: 0 30px;
}

#button {
    display: table-cell;
    height: 25px;
    width: 120px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 0 0 transparent;

}
#button:hover {
    color: white;
    box-shadow: 0 0 10px 0 #24B5DA;
    background-color: #00c7ec;
}
#button:active {
    box-shadow: 0 0 0 0 transparent;
}
/*
#button:before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
}

 */