html {
    background-color: #00313F;
    font-family: sans-serif;
}
body {
    margin: 0;
}

#header {
    width: 100%;
    height: 90px;
    margin: 0px;
    background-color: #115163;
    position: relative;
    color: white;
    font-size: 70px;
}

#logo {
    width: 121px;
    height: 80px;
    margin: 5px 10px;
    float: left;
}

#title {
    vertical-align: middle;
}

hr {
    margin: 0;
    padding: 0;
}
/*
.button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
}
.button:before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
}

/*@include keyframes(shine) {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}*/